[submodule "third_party/firefox-profiler"]
	path = third_party/firefox-profiler
	url = https://github.com/firefox-devtools/profiler.git
	shallow = true
[submodule "third_party/perfetto"]
	path = third_party/perfetto
	url = https://github.com/google/perfetto
	shallow = true
[submodule "third_party/aosp-winscope"]
	path = third_party/aosp-winscope
	url = https://github.com/yuchuangu85/AOSP-WinScope
	shallow = true
